<a href="https://colab.research.google.com/github/waltechel/20210601Hackerton/blob/master/chapter01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chapter01 파이썬에게 질문하기

## 01-1. 파이썬의 시작 포인트

## 01-2. 파이썬의 특징

## 01-3. 일단 파이썬을 설치하자.

## 01-4. 수식을 계산하게 하자.

In [ ]:
33 + 55

In [ ]:
33 + 55 =

In [ ]:
7 * 5 / 2

In [ ]:
9 * ( 5 - 7 ) / 3

## 01-5. 헤이 지니! 소리질러!

In [ ]:
hello, world!

In [ ]:
print("hello world!")

In [ ]:
print(5)

In [ ]:
print("5")

In [ ]:
print(3 + 5)

In [ ]:
print("3 + 5")

In [ ]:
print("3 + 5 =", 3 + 5)

In [ ]:
print(1, 2, 3, "hello", "world")

In [ ]:
print("3 + 5", 3 + 5)

- 문제 1. 파이썬 프롬프트를 통해서 자신의 이름을 출력해보자

- 문제 2. 파이썬 프롬프트를 통해서 1부터 10까지 더한 결과를 출력해보자

- 문제 3. 파이썬 프롬프트를 통해서 2를 5회 곱한 결과를 출력해보자

- 문제 4 파이썬 프롬프트를 통해서 다음을 출력해보자
- 5-(3-1) = 3

- 문제 5. 파이썬 프롬프트를 통해서 10을 2로 나눈 결과와 10을 2로 곱한 결과를 각각 출력해보자.

## 01-6. 이거 기억해 둬 조금 이따가 다시 사용할거야

In [ ]:
val = 30

In [ ]:
v1 = 25
v2 = 30
print(v1, v2)

In [ ]:
x = 3 * 50
y = x + 120
z = y / 3
print(z)

- 다음 질문 세 개의 변수를 x, y, z로 나누어 사용한다.

- 질문 1. 정수 2를 세 번 곱하면 얼마인가?

- 질문 2. 그 결과를 4로 나누면 얼마인가?

- 질문 3. 그 결과를 두 번 곱하면 얼마인가?

## 01-7. 이름 가져다 붙이기

- 다음 질문 세 개의 변수를 x로만 사용한다.

- 질문 1. 정수 2를 세 번 곱하면 얼마인가?

- 질문 2. 그 결과를 4로 나누면 얼마인가?

- 질문 3. 그 결과를 두 번 곱하면 얼마인가?

## 01-8. 변수(Variables)와 대입 연산자

## 01-9. 이거 어떤 일들이 벌어질까요?

In [ ]:
x, y = 121, 797

In [ ]:
print("x : ", x , "y : " , y)

In [ ]:
x, y = y, x

In [ ]:
print("x : ", x , "y : " , y)